@import "colors";

.font_containers{
    background: #{$transparent-gray};
    border-radius: 7px;
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    
    /* property in styles-general.scss */


    &-perfil{
        width: calc(100% - 10px);
        height: 250px;
        margin: 10px auto;

        img{
            margin: auto 10px auto 50px;
            border-radius: 50%;
        }
        &-data{
            width: 60%;
            height: auto;
            margin: auto 10px;
            /* border: 1px solid plum; */

            h3{
                margin: 0px;
                font-size: 13px;
            }
            p{
                margin: 0px;
                opacity: 0.7;
                
            }
        }
    }

    &-date{
        width: calc(100% - 10px);
        height: 40px;
        display: flex;
        margin: 0px auto;

        .area{
            display: flex;
            margin: auto 10px;
            font-size: 12px;
        
            p{
                opacity: 0.5;
                margin: 0px;
            }
            .p_dinamic{
                opacity: 1;
            }
        }
    }

    &-subcontainer{
        width: 100%;
        height: auto;
        /* background: #51e22d2a; */
        margin: 5px 0px;
        display: flex;
        flex-wrap: wrap;
        
        .box{
            width: calc(50% - 10px);
            height: 250px;
            margin: 5px 5px;
            display: flex;
            flex-direction: column;

            .titulo{
                width: 90%;
                height: 60px;
                /* background: #000; */
                display: flex;
                justify-content: space-between;
                margin: 0px auto;

                h1{
                    margin: auto 0px;
                    font-size: 15px;
                }
                .time{
                    width: 200px;
                    height: 80%;
                    /* background: pink; */
                    margin: auto 0px;
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    grid-gap: 2px;

                    .unit{
                        height: 100%;
                        /* background: #00e1ff; */
                        display: flex;
                        flex-direction: column;

                        .num{
                            margin: auto auto 0px auto;
                            text-align: center;
                        }

                        .text{
                            margin: 0px auto auto auto;
                            text-align: center;
                            font-size: 09px;
                        }
                    }
                    .slash{
                        height: 100%;
                        
                        /* background: rgb(243, 246, 68); */

                        img{
                           /*  background: salmon; */
                            position: relative;
                            top: 2px;
                            
                        }
                    }
                }
            }
            .cat_and_des{
                width: 90%;
                height: 100px;
                background: #{$gray};
                margin: auto;
                border-radius: 10px;
                display: flex;
                flex-direction: column;

                p{
                    margin: 0px 1px;
                    font-size: 12px;
                }
                .name{
                    opacity: 0.7;
                }

                .categoria{
                    display: flex;
                    margin: auto 0px 5px 10px;
                }
                .descripcion{
                    display: flex;
                    margin: 5px 0px auto 10px;
                }
            }
            button{
                width: 100px;
                padding: 7px 0px;
                margin: auto;
                background: #{$light-green-02};
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: white;
            }
        }
    }


}