@import "colors";
body{
    margin: 0px;
    background: linear-gradient(70deg, #315CB0, #63C2E2);
    display: flex;


    .container{
        width: 100%;
        height: 100vh;
        /* background: mediumspringgreen; */
        

        &_img-rsp{
            display: none;
        }
        &_img{
            opacity: 0.6;
        }
        &_body{
            width: 100%;
            height: auto;
            /* background: #02253b6c; */
            position: absolute;
            top: 0px;
            display: flex;
            flex-direction: column;

            &_logoCIBB{
                width: 150px;
                height: 50px;
                /* background: darkorange; */
                margin:  10px;
                cursor: pointer;
            }
        }
    }
}
.container-register-login{
    width: 400px;
    min-height: 100px;
    max-height: 600px;
   /*  background: salmon; */
    margin: 50px auto;
    
    
    &_body{
        width: 400px;
        height: 500px;
        /* background: hotpink; */
        position: absolute;
        top: 120px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        
        &_titulo{
            width: 90%;
            height: 30px;
            margin: 40px auto;
            display: flex;

            h1{
                font-family: Arial, Helvetica, sans-serif;
                color: #{$light-blue};
                margin: auto;
                font-size: 20px;
            }
        }
        .register-size{
            margin: 20px auto;
        }
        &_space-box{
            width: 80%;
            height: 60px;
            /* background: darkgreen; */
            margin: 15px auto;

            p{
                margin: 0px 5px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
                color: black;
                opacity: 0.7;
            }
            input[type="text"],input[type="password"]{
                width: 95%;
                padding: 2.5%;
                margin: 0px;
                height: 15px;
                border: none;
                border-radius: 3px;
                border: 0.1px solid #3a3a3a;
            }
            a{
                font-family: Arial, Helvetica, sans-serif;
                text-decoration:none;
                font-size: 12px;
                &:hover{
                    /* color: #{$light-green-02}; */
                    text-decoration: underline;
                }
            }
        }
        &_alert{
            color: red;
            margin: 0px auto 5px auto;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;

        }
        &_question{
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
            width: 80%;
            margin: 5px auto;
            color: #00000073;
        }
        button{
            width: 80%;
            height: 50px;
            margin: 0px auto;
            background: radial-gradient( #{$light-green-01}, #{$light-green-02});
            color: #ffffff;
            opacity: 1;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover{
                opacity: 0.8;
            }
            &:focus{
                outline: none;
            }
        }
        a{
            width: 80%;
            margin: 0px auto;
            color: #{$light-blue};
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-decoration: none;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}