@import "colors";
#conteiner{
    /* background: salmon; */
    height: 100%;

    a{
        text-decoration: none;
    }
}
.container_integrantes{
    width: calc(100% - 20px);
    height: 100px;
    background: $gray;
    border-radius: 10px;
    margin: 30px auto 10px auto;
    display: flex;
    justify-content: center;
    
    samp{
        /* background: royalblue; */
        font-size: 10px;
        color: white;
        margin: auto 0px;
        padding: 0px 0px 0px 50px;
    }
    span{
        height: 50px;
        width: auto;
        /* background: #000; */
        margin: auto 0px;
        display: flex;

        img{
            width: 40px;
            height: 40px;
            margin: 0px;
            border-radius: 50%;
            position: relative;
            border: 5px solid $gray;
        }
        #img1{
            left: +25px;
        }
        #img3{
            left: -25px;
        }
        .container_marcador{
            height: 25px;
            width: 40px;
            border-radius: 15px;
            background: $light-blue;
            margin: auto 0px;
            position: relative;
            border: 5px solid $gray;
            left: -50px;
            display: flex;

            p{
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                margin: auto;
                font-weight: bold;
            }
        }
    }
}

.container_reglas{
    width: calc(100% - 100px);
    height: 100px;
    background: $gray;
    border-radius: 10px;
    margin: 30px auto 10px auto;
    display: flex;
    justify-content: center;
    samp{
        /* background: royalblue; */
        font-size: 10px;
        color: white;
        margin: auto 0px;
        padding: 0px 0px 0px 50px;
    }
}
hr{
    background: white;
    height: 1px;
    width: 90%;
    border: none;
}
.container_message{
    width: 100%;
    height: auto;
    background: $transparent-gray;
    display: flex;
    margin: 0px auto;
    padding: 15px 0px;

    img{
        width: 50px;
        height: 50px;
        margin: 0px 0px 0px 10px;
        border-radius: 50%;
    }
    .container_txt_button{
        width: calc(100% - 50px - 10px);
        height: auto;
        /* background: red; */

        textarea{
            min-width: calc(100% - 20px);
            max-width: calc(100% - 20px);
            min-height: 50px;
            max-height: 70px;
            margin: 0px 5px 0px 5px;
            border-radius: 2px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(102, 102, 102);

            &:focus{
                outline: none;
            }
        }
        .butt{
            display: flex;
            button{
                margin: 0px 5px;
                padding: 5px 10px;
                width: 100px;

                &:focus{
                    outline: none;
                }
            }
            .borrar{
                background: red;
            }
            .borrar_none{
                background: #8C8C8C;
            }
        }
    }
}
.container_commentary{
    width: 100%;
    max-height: 900px;
    min-height: 100px;
    /* background: darkmagenta; */
    color: white;
    display: flex;
    flex-direction: column;

    .commentary{
        width:90%;
        height: auto;
        /* background: fuchsia; */
        margin: 10px auto;   
        display: flex;

        img{
            width: 35px;
            height: 35px;
            background: #000;
            border-radius: 50px;
        }
        .name_commentary{
            width: calc(100% - 40px);
            height: auto;
            margin: 0px 0px 0px 5px;
            /* background: #000; */
            font-family: Arial, Helvetica, sans-serif;

            h1{
                font-size: 15px;
                margin: 0px;
            }
            p{
                font-size: 12px;
                margin: 5px 0px;
            }
        }
    }
}

input[type=submit]{
    border: none;
    display: block;
    padding: 10px 35px;
    border-radius: 7px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
}
.unirse_false{
    background: #8c8c8c;
}
.unirse_true{
    background: radial-gradient($light-green-01, $light-green-02);
}

.no{
    display: none;
}


















@media(max-width: 1024px){
    .container_integrantes{
        height: auto;
        padding: 5px 0px;
        samp{
            font-size: 7px;
            padding: 0px 0px 0px 25px;
        }
        span{
            img{
                width: 25px;
                height: 25px;
                margin: auto 0px;
                border: 2px solid $gray;
            }
            #img1{
                left: +10px;
            }
            #img3{
                left: -10px;
            }
            .container_marcador{
                height: 20px;
                width: 30px;
                border-radius: 10px;
                border: 2px solid $gray;
                left: -25px;
                p{
                    font-size: 12px;
                }
            }
        }
    }


    .container_reglas{
        width: calc(100% - 50px);
        height: auto;
        padding: 5px 0px;
        samp{
            font-size: 7px;
            padding: 0px;
        }
    }


    .container_commentary{
        .commentary{
            width:95%;
        }
    }
}