@import 'colors';
.container_purchase{
    width: 50%;
    height: auto;
    background: $transparent-gray;
    margin: 0px auto;
    position: relative;
    top: 50px;

    

    .icon_tittle{
        /* background: green; */
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 20px;
        height: auto;
        width: 100%;

        img{
            height: 50px;
            margin: 5px auto;
        }
        h4{
            color: #FF8A00;
            margin: 5px auto;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
        }

    }
    .delimited{
        width: 390px;
        /* background: #66e2a4; */
        margin: 0px auto;
    }
    $width_delimited: 390px;

    .tittle_Description{
        width: 100%;
        height: auto;
       /*  background: red; */

        .tittle{
            width: 100%;
            /* background: green; */
            display: flex;
            position: relative;

            p{
                color:white;
                font-family: 'Bangers', cursive;
                font-size: 60px;
                margin: 0px 40px;
            }
            img{
                height: 40px;
                position: absolute;
                left: 300px;
                top: 0px;
            }
        }
        .description{
            display: flex;
            width: 100%;
            height: auto;
            /* background: pink; */
        
            .cont_line{
                width: 40px;
                height: auto;
                /* background: yellow; */
                display: flex;
                
                img{
                    width: 50%;
                    margin: auto;
                }

            }
            p{
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                margin: 0px;
                width: calc(100% - 40px);
            }

        }
    }
    .part_2{
        width: $width_delimited;
        height: auto;
        /* background: rgb(38, 0, 255); */
        margin: 5px auto;
        position: relative;

        img{
            margin: 0px;
            padding: 0px;
            width: 100%;
        }

        .body_screen{
            width: 100%;
            height: calc(390px / 1.8);
            background: #2C2E45;
            margin: 0px;
            padding: 0px;
            position: relative;
            top: -5px;
            /* D80165 */
            .container_line{
                width: 100%;
                height: 100%;
                background: linear-gradient(to right,#30289900, #d802662e, #1c1f8a00);
                display: flex;

                .toolbar_left{
                    width: 24px;
                    height: 100%;
                    /* background: #d8016585; */
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 80%;
                        margin: 7px auto;
                        display: block;
                    }
                }
                .info{
                    width: calc(100% - 24px);
                    height: 100%;
                    /* background: red; */
                    .info01{
                        width: 100%;
                        height: 50%;
                        /* background: rgb(25, 0, 255); */
                        display: flex;

                        .image{
                            height: 90px;
                            width: 90px;
                            border-radius: 50%;
                            margin: auto 10px;
                        }
                        .tag{
                            /* background: #000; */
                            width: calc(100% - 90px - 20px);
                        }
                    }
                    .description{
                        height: calc(50%);
                        /* background: salmon; */
                    }
                }
            }
        }
        .adr02{
            height: 70px;
            width: auto;
            position: absolute;
            top: -30px;
            left: 100px;
        }
        .adr03{
            height: 70px;
            width: auto;
            position: absolute;
            top: 290px;
            left: 300px;
            z-index: 2;
        }
    }
    .part_3{
        width: 100%;
        height: auto;
        /* background: rgb(20, 224, 20); */
        position: relative;

        .content_movil{
            width: 250px;
            height: auto;
            background: #111111;
            position: absolute;
            top: 60px;
            left: calc((100% - 250px) / 2);
            border-radius: 25px;
            display: flex;
            flex-direction: column;

            .header_scree{
                margin: 15px auto 0px auto;
                width: calc(100% - 30px);
                border-radius: 15px 15px 0px 0px;
            }
            .body_scree{
                width: calc(100% - 30px);
                height: 400px;
                background: #2C2E45;
                margin: 0px auto 15px auto;
                border-radius: 0px 0px 15px 15px;
                position: relative;

                .image1{
                    width: 100%;
                    height: 120px;
                    /* object-fit: none; */
                    opacity: 0.3;
                    object-fit: cover;
                }
                .image2{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    position: absolute;
                    left: calc((100% - 100px)/2);
                    top: 10px;
                }
                /* .image3{
                    background: #000;
                } */
            }
        }

        .cont_line{
            width: 40px;
            height: auto;
            /* background: rgb(26, 26, 25); */
            display: flex;
            
            img{
                width: 50%;
                margin: auto;
            }

        }
        .coment{
            width: auto;
            height: 20px;
            /* background: red; */
            display: flex;

            .icon{
                height: 80%;
                width: auto;
                margin: auto 10px;
            }
            .img_perfil{
                height: 30px;
                width: 30px;
                position: relative;
                top: -7px;
                border-radius: 50%;
            }
            .message{
                margin: 0px;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
                margin: auto 5px;
                font-size: 12px;
                
            }
        }
        .adr04{
            height: 50px;
            width: auto;
            position: absolute;
            top: 100px;
            left: 0px;
            z-index: 2;
        }
        .adr05{
            height: 70px;
            width: auto;
            position: absolute;
            top: 450px;
            left: 305px;
            z-index: 2;
        }
    }
    .part_4{
        width: 100%;
        height: 400px;
        /* background: blue; */

        .pane_1{
            width: 100%;
            height: auto;
            /* background: #000000; */
            display: flex;

            .color01{
                height: 170px;
                width: auto;
                margin: 0px;
            }
            .atr{
                width: 200px;
                height: 170px;
                /* background: red; */

                .cont_line_{
                    /* background: #000; */
                    width: 40px;
                    margin: 20px 0px 0px 0px;
                }
                .cont_line__{
                    /* background: #000; */
                    width: 40px;
                    margin: 5px 0px 0px 0px;
                }
                .coment_{
                    width: 100%;
                    height: 20px;
                    /* background: rgb(154, 15, 162); */
                    display: flex;

                    .icon{
                        height: 80%;
                        margin: auto 5px auto 25px;
                    }
                    .img_perfil{
                        height: 30px;
                        width: 30px;
                        position: relative;
                        top: -7px;
                        border-radius: 50%;
                    }
                    .message{
                        margin: 0px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                        margin: auto 5px;
                        font-size: 12px;
                        
                    }
                }
            }
        }
        .panel_2{
            width: 100%;
            height: auto;
            /* background: yellow; */
            display: flex;
            
            .etc{
                width: 200px;
                height: 170px;
                /* background: rgb(180, 82, 82); */

                .cont_line{
                    width: 40px;
                    height: auto;
                    /* background: rgb(26, 26, 25); */
                    display: flex;
                    
                    img{
                        width: 50%;
                        margin: auto;
                    }
        
                }
                .coment{
                    width: auto;
                    height: 20px;
                    /* background: red; */
                    display: flex;
        
                    .icon{
                        height: 80%;
                        width: auto;
                        margin: auto 10px;
                    }
                    .img_perfil{
                        height: 30px;
                        width: 30px;
                        position: relative;
                        top: -7px;
                        border-radius: 50%;
                    }
                    .message{
                        margin: 0px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: white;
                        margin: auto 5px;
                        font-size: 12px;
                        
                    }
                }
            }
            .color03{
                width: 90%;
            }
            .color02{
                height: 170px;
                width: auto;
                margin: 0px;
            }

        }
    }
    .part_5{
        width: 100%;
        height: auto;
        /* background: salmon; */
        display: flex;
        flex-direction: column;

        .precios{
            width: 100%;
            height: 300px;
            /* background: red; */
            display: flex;
            justify-content: space-between;

            .precio{
                width: calc(50% - 4px);
                height: 100%;
                background: $gray;
                border-radius: 8px;
                color: #fff;
                display: flex;
                flex-direction: column;
                font-family: Arial, Helvetica, sans-serif;

                .space_premium_1{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    
                    img{
                        width: 50px;
                        margin: 5px auto;
                    }
                    p{
                        margin: 5px auto;
                    }
                }
                h2{
                    margin: 0px auto;
                }
                .space_premium_2{
                    display: flex;
                    /* background: #000; */
                    justify-content: center;

                    img{
                        width: 40px;
                        height: 40px;
                        margin: auto 0px;
                    }
                    p{
                        margin: auto 0px;
                    }
                }
                h1{
                    margin: auto auto 20px auto;
                }
                button{
                    margin: 20px auto;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    background: $light-green-02;
                    color: white;
                    cursor: pointer;
                    transition-duration: 0.5s;

                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .terminos{
            width: 100%;
            height: 100px;
            /* background: rgb(39, 161, 232); */
            display: flex;
            flex-direction: column;

            p{
                color: rgb(252, 252, 252);
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
            }
            img{
                margin: 0px auto;
                width: 100px;
                height: auto;
            }
        }
    }
}

@media (max-width: 1024px){
    .container_purchase{
        width: 100%;
        background: none;
    }
}