.container_ {
  width: calc(100% - 20px);
  height: calc(100vh - 70px);
  margin: 60px 10px 0px 10px;
  /* background: rgb(235, 12, 12); */
  color: black;
  display: flex;
  flex-direction: column;
  /* new css */
  /* btn */
  /*  */ }
  .container_ .section_1 {
    width: 100%;
    height: 40%;
    /* s */
    /* background: red; */
    display: flex;
    justify-content: space-between; }
    .container_ .section_1 #img_foo {
      height: 250px;
      width: 250px;
      margin: auto;
      border-radius: 50%; }
    .container_ .section_1 .container_responsi_img {
      display: none; }
    .container_ .section_1 .info {
      height: auto;
      margin: auto 0px;
      width: 40%;
      /* background: #000; */
      color: white;
      font-family: Arial, Helvetica, sans-serif; }
      .container_ .section_1 .info .title {
        margin: 5px;
        font-size: 30px; }
      .container_ .section_1 .info .tag_fo {
        font-size: 60px;
        margin: 0px; }
      .container_ .section_1 .info .leadfor {
        display: flex; }
        .container_ .section_1 .info .leadfor p {
          font-size: 20px;
          margin: auto 0px; }
        .container_ .section_1 .info .leadfor #img_leader {
          height: 25px;
          width: 25px;
          margin: 0px 2px 0px 5px;
          border-radius: 50%; }
        .container_ .section_1 .info .leadfor .conatiner_leader {
          display: flex;
          cursor: pointer; }
        .container_ .section_1 .info .leadfor h1 {
          margin: auto 0px;
          font-size: 15px; }
      .container_ .section_1 .info .url_w_a {
        display: flex;
        margin: 5px 0px; }
        .container_ .section_1 .info .url_w_a img {
          width: 12px;
          height: 12px; }
        .container_ .section_1 .info .url_w_a a {
          text-decoration: none;
          font-size: 12px;
          color: white;
          margin: auto 3px; }
      .container_ .section_1 .info .tag {
        display: flex;
        margin: 5px 0px; }
        .container_ .section_1 .info .tag img {
          width: 12px;
          height: 12px; }
        .container_ .section_1 .info .tag p {
          margin: auto 3px;
          opacity: 0.7;
          font-size: 12px; }
        .container_ .section_1 .info .tag .text_tag {
          opacity: 1; }
        .container_ .section_1 .info .tag .imgtag {
          width: 10px;
          height: 10px;
          margin: auto 5px;
          opacity: 0.7;
          cursor: pointer; }
    .container_ .section_1 .estadistic {
      height: 100%;
      width: 40%;
      /* background: rgb(230, 96, 66); */
      display: flex;
      flex-direction: column; }
      .container_ .section_1 .estadistic .container_estadisticas {
        width: 80%;
        height: auto;
        margin: 0px auto;
        color: white;
        /* background: salmon; */ }
      .container_ .section_1 .estadistic a {
        margin: auto 2px; }
      .container_ .section_1 .estadistic button {
        padding: 10px 30px;
        color: white;
        background: radial-gradient(#A4DF4A, #8EDF4A);
        border: none;
        border-radius: 5px;
        margin: 0px;
        cursor: pointer; }
        .container_ .section_1 .estadistic button:hover {
          opacity: 0.8; }
        .container_ .section_1 .estadistic button:focus {
          outline: none; }
  .container_ .a_puch {
    position: absolute; }
  .container_ .conteiner_btn_premium {
    width: 60px;
    height: 60px;
    background: #232323;
    position: absolute;
    border-radius: 0px 0px 100% 0px;
    opacity: 1;
    transition: 0.3s;
    display: none; }
  .container_ .conteiner_btn_premium img {
    width: 30px;
    height: 30px;
    margin: 10px; }
  .container_ .conteiner_btn_premium:hover {
    width: 70px;
    height: 70px;
    transform: scale(1.2); }
  .container_ .mis_botons {
    /* background: salmon; */
    display: flex;
    justify-content: center; }
  .container_ .mis_botons a {
    margin: 0px; }
  .container_ .btn_a_a_fo {
    margin: 0px 0px; }
  .container_ .conteiner_btn_premium_2 {
    width: 45px;
    height: 35px;
    background: #232323;
    display: block;
    border-radius: 5px;
    margin: 0px;
    display: flex;
    cursor: pointer;
    transition: 0.3s; }
  .container_ .conteiner_btn_premium_2:hover {
    background: #000; }
  .container_ .conteiner_btn_premium_2 img {
    width: 20px;
    height: 20px;
    margin: auto; }
  @media (max-width: 1024px) {
    .container_ .conteiner_btn_premium {
      display: flex; }
    .container_ .conteiner_btn_premium_2 {
      display: none; } }
  .container_ .section_2 {
    width: 100%;
    height: 53%;
    background: #36393f98;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto 0px;
    padding: 20px 0px; }
    .container_ .section_2 .bisection_1 {
      width: calc(100% - 40px);
      height: auto;
      /*  background: orange; */
      margin: auto;
      display: flex; }
      .container_ .section_2 .bisection_1 .description {
        width: 50%;
        height: 100%;
        /* background: seagreen; */
        margin: auto 0px auto 25px;
        display: flex;
        flex-direction: column;
        color: white;
        font-family: Arial, Helvetica, sans-serif; }
        .container_ .section_2 .bisection_1 .description span {
          display: flex;
          /* background: #000; */ }
          .container_ .section_2 .bisection_1 .description span .icono {
            background-image: url(/public/svg/outdent-solid.svg);
            width: 20px;
            height: 20px;
            background-size: 100% 100%; }
          .container_ .section_2 .bisection_1 .description span h5 {
            margin: auto 0px;
            font-size: 20px;
            color: #34B6F7; }
        .container_ .section_2 .bisection_1 .description .line {
          width: 2.7px;
          height: 80%;
          background: #34b6f7c4;
          margin: auto 2px; }
        .container_ .section_2 .bisection_1 .description p {
          margin: 5px 5px;
          opacity: 0.8; }
      .container_ .section_2 .bisection_1 video {
        height: 50px;
        width: 200px;
        margin: auto;
        border-radius: 100px;
        background: #000;
        color: salmon; }
        .container_ .section_2 .bisection_1 video:focus {
          outline: none; }
    .container_ .section_2 .bisection_2 {
      width: calc(100% - 40px);
      margin: 0px 20px;
      height: calc(420px / 1.777);
      /* background: salmon; */
      display: flex;
      justify-content: space-between; }
      .container_ .section_2 .bisection_2 img {
        height: calc(420px / 1.777);
        width: 420px;
        background: rgba(0, 0, 0, 0.131);
        border-radius: 4px;
        border: #3a3a3a52 solid 3px; }

/*# sourceMappingURL=style-fo_home.css.map */
