/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 10px; }

.container_sett_premium {
  background: #000000;
  width: 100%;
  height: 100%; }

.header {
  width: 100%;
  height: 50px;
  background: #202020;
  display: flex;
  justify-content: center; }
  .header img {
    margin: 10px; }

.line {
  width: 100%;
  height: 1px;
  background: #fdc200a1; }

.container_base {
  width: 100%;
  height: calc(100% - 50px);
  display: flex; }
  .container_base .container_1 {
    width: 60%;
    height: 100%;
    background: #000; }
    .container_base .container_1 .space_view {
      width: 100%;
      height: 90%;
      background: #000;
      display: flex; }
      .container_base .container_1 .space_view .view {
        width: 100%;
        height: auto;
        /* background: rgb(12, 156, 223); */
        margin: auto 0px;
        display: flex; }
        .container_base .container_1 .space_view .view .screen_01 {
          width: 300px;
          height: calc(300px / 1.777);
          background: #45A1E5;
          margin: auto;
          display: flex;
          /* transform: scale(1.2); */ }
          .container_base .container_1 .space_view .view .screen_01 .es00 {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #ffffff00, #ffffff35, #ffffff00);
            display: flex; }
          .container_base .container_1 .space_view .view .screen_01 .es01 {
            width: 15px;
            height: 100%;
            background: #36393f98; }
            .container_base .container_1 .space_view .view .screen_01 .es01 .es02 {
              width: 100%;
              height: 15px;
              background: #36393f98;
              display: flex; }
              .container_base .container_1 .space_view .view .screen_01 .es01 .es02 img {
                height: 10px;
                width: 10px;
                margin: auto; }
          .container_base .container_1 .space_view .view .screen_01 .es03 {
            width: calc(100% - 15px);
            height: 100%; }
            .container_base .container_1 .space_view .view .screen_01 .es03 .es04 {
              width: 100%;
              height: 15px;
              background: #36393F;
              display: flex; }
              .container_base .container_1 .space_view .view .screen_01 .es03 .es04 .es04_01 {
                height: 80%;
                display: flex;
                margin: auto 3px auto auto; }
                .container_base .container_1 .space_view .view .screen_01 .es03 .es04 .es04_01 .es04_02 {
                  width: 30px;
                  height: 80%;
                  background: #45A1E5;
                  margin: 0px 2px;
                  border-radius: 3px;
                  display: flex; }
                  .container_base .container_1 .space_view .view .screen_01 .es03 .es04 .es04_01 .es04_02 p {
                    color: white;
                    text-align: center;
                    font-size: 4px;
                    margin: auto;
                    opacity: 0.7; }
            .container_base .container_1 .space_view .view .screen_01 .es03 .es05 {
              width: 100%;
              height: 45%;
              /* background: #000; */
              display: flex; }
              .container_base .container_1 .space_view .view .screen_01 .es03 .es05 img {
                width: 60px;
                height: 60px;
                /* background: red; */
                border-radius: 50%;
                margin: auto 5px; }
              .container_base .container_1 .space_view .view .screen_01 .es03 .es05 .es06 {
                width: 90px;
                height: 40px;
                /* background: green; */
                margin: auto 0px;
                background-image: url(/public/img/premium/v02.png);
                background-size: 100%; }
              .container_base .container_1 .space_view .view .screen_01 .es03 .es05 .es07 {
                width: 90px;
                height: 55px;
                /* background: rgb(102, 140, 102); */
                margin: auto 10px auto auto;
                display: flex;
                flex-direction: column; }
                .container_base .container_1 .space_view .view .screen_01 .es03 .es05 .es07 .es08 {
                  width: 90px;
                  height: 40px;
                  /*  background: green; */
                  margin: auto 10px auto auto;
                  background-image: url(/public/img/premium/v1.png);
                  background-size: 100%; }
                .container_base .container_1 .space_view .view .screen_01 .es03 .es05 .es07 .es09 {
                  width: 40px;
                  height: 10px;
                  background: #8EDF4A;
                  margin: auto;
                  border-radius: 3px;
                  display: flex; }
                  .container_base .container_1 .space_view .view .screen_01 .es03 .es05 .es07 .es09 p {
                    color: white;
                    text-align: center;
                    font-size: 4px;
                    margin: auto;
                    opacity: 0.7; }
            .container_base .container_1 .space_view .view .screen_01 .es03 .es10 {
              width: 98%;
              height: 43%;
              background: #36393f98;
              border-radius: 5px;
              margin: auto;
              display: flex;
              flex-direction: column; }
              .container_base .container_1 .space_view .view .screen_01 .es03 .es10 .es11 {
                width: 50%;
                height: 15px;
                /* background: red; */
                background-image: url(/public/img/premium/v4.png);
                background-size: 100%;
                margin: 5px 10px; }
              .container_base .container_1 .space_view .view .screen_01 .es03 .es10 .es12 {
                width: 90%;
                height: 40px;
                /* background: salmon; */
                margin: auto;
                display: flex;
                justify-content: space-between; }
                .container_base .container_1 .space_view .view .screen_01 .es03 .es10 .es12 .es13 {
                  width: 60px;
                  height: calc(60px / 1.777);
                  background-image: url("/public/tmp/default/photo_defaultt.jpg");
                  background-size: 100%;
                  margin: auto; }
        .container_base .container_1 .space_view .view .screen_02 {
          width: 90px;
          height: calc(300px / 1.777);
          background: #45A1E5;
          margin: auto auto auto 1px; }
          .container_base .container_1 .space_view .view .screen_02 .mo00 {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #ffffff00, #ffffff35, #ffffff00); }
          .container_base .container_1 .space_view .view .screen_02 .mo01 {
            width: 100%;
            height: 15px;
            background: #36393F;
            display: flex;
            justify-content: space-between; }
            .container_base .container_1 .space_view .view .screen_02 .mo01 .mo01_01 {
              width: 5px;
              height: 5px;
              background-image: url(/public/img/premium/v6.png);
              background-size: 100%;
              margin: auto 2px;
              opacity: 0.7; }
            .container_base .container_1 .space_view .view .screen_02 .mo01 .mo01_02 {
              width: 60px;
              height: 80%;
              /* background: red; */
              display: flex;
              margin: auto 0px; }
              .container_base .container_1 .space_view .view .screen_02 .mo01 .mo01_02 .mo01_02_01 {
                width: 30px;
                height: 80%;
                background: #45A1E5;
                margin: auto 2px;
                border-radius: 3px;
                display: flex; }
                .container_base .container_1 .space_view .view .screen_02 .mo01 .mo01_02 .mo01_02_01 p {
                  color: white;
                  text-align: center;
                  font-size: 4px;
                  margin: auto;
                  opacity: 0.7; }
          .container_base .container_1 .space_view .view .screen_02 .mo02 {
            width: 100%;
            height: 50px; }
            .container_base .container_1 .space_view .view .screen_02 .mo02 .mo02_1 {
              width: 100%;
              height: 100%;
              overflow: hidden;
              object-fit: cover;
              opacity: 0.5; }
            .container_base .container_1 .space_view .view .screen_02 .mo02 .mo02_2 {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              position: relative;
              margin: 0px auto;
              display: block;
              top: -50px; }
          .container_base .container_1 .space_view .view .screen_02 .mo03 {
            width: 90%;
            margin: 2px auto;
            height: 40px;
            /* background: #000; */
            background-image: url(/public/img/premium/v02.png);
            background-size: 100%; }
          .container_base .container_1 .space_view .view .screen_02 .mo04 {
            width: 100%;
            height: auto;
            background: #00000027; }
            .container_base .container_1 .space_view .view .screen_02 .mo04 .mo04_1 {
              width: 90%;
              height: 40px;
              margin: auto;
              background-image: url(/public/img/premium/v1.png);
              background-size: 100%; }
            .container_base .container_1 .space_view .view .screen_02 .mo04 .mo04_2 {
              width: 40px;
              height: 10px;
              background: #8EDF4A;
              margin: 5px auto;
              border-radius: 3px;
              display: flex; }
              .container_base .container_1 .space_view .view .screen_02 .mo04 .mo04_2 p {
                color: white;
                text-align: center;
                font-size: 4px;
                margin: auto;
                opacity: 0.7; }
    .container_base .container_1 .controller_bottons {
      width: 100%;
      height: 10%;
      background: #202020;
      display: flex; }
      .container_base .container_1 .controller_bottons .btn {
        /* background: #313131; */
        width: calc(100% / 3 - 2px);
        height: 100%;
        display: flex;
        margin: 0px auto;
        cursor: pointer; }
        .container_base .container_1 .controller_bottons .btn:hover {
          background: #fdc20041; }
        .container_base .container_1 .controller_bottons .btn img {
          width: 30px;
          margin: auto; }
      .container_base .container_1 .controller_bottons .btn_color {
        background: #313131; }
  .container_base .container_2 {
    width: 40%;
    height: 100%;
    background: #181818;
    display: flex;
    flex-direction: column; }
    .container_base .container_2 a {
      text-decoration: none; }
    .container_base .container_2 .secction {
      width: 100%;
      height: 40px;
      background: #202020;
      margin: 2px 0px;
      display: flex;
      justify-content: space-between; }
      .container_base .container_2 .secction:hover {
        background: #2e2e2e; }
      .container_base .container_2 .secction .icon_name {
        height: 100%;
        display: flex;
        opacity: 0.5; }
        .container_base .container_2 .secction .icon_name img {
          height: 100%;
          width: 20px;
          margin: auto 0px auto 8px; }
        .container_base .container_2 .secction .icon_name samp {
          color: white;
          margin: auto 5px; }
      .container_base .container_2 .secction .re {
        margin: auto 5px;
        height: 20px;
        opacity: 0.5; }
  .container_base .container_2_design_buttons {
    width: 100%;
    height: 400px;
    background: #181818;
    display: flex;
    flex-direction: column; }
    .container_base .container_2_design_buttons .cont_title {
      width: 100%;
      height: 50px;
      color: white;
      display: flex;
      opacity: 0.7; }
      .container_base .container_2_design_buttons .cont_title img {
        height: 20px;
        width: 20px;
        margin: auto 5px; }
        .container_base .container_2_design_buttons .cont_title img:hover {
          transform: scale(1.2); }
      .container_base .container_2_design_buttons .cont_title .check {
        margin: auto 10px auto auto; }
    .container_base .container_2_design_buttons .cont_cont {
      width: 100%;
      height: 100px;
      background: gray; }
  .container_base .container_2_boockstore {
    width: 40%;
    height: 100%;
    background: #181818;
    display: flex;
    flex-direction: column; }
    .container_base .container_2_boockstore .cont_title {
      width: 100%;
      height: 50px;
      color: white;
      display: flex;
      opacity: 0.7; }
      .container_base .container_2_boockstore .cont_title img {
        height: 20px;
        width: 20px;
        margin: auto 5px; }
        .container_base .container_2_boockstore .cont_title img:hover {
          transform: scale(1.2); }
      .container_base .container_2_boockstore .cont_title .check {
        margin: auto 10px auto auto; }
    .container_base .container_2_boockstore .cont_cont {
      width: 100%;
      height: 100%;
      overflow: scroll;
      /* background: red; */ }
      .container_base .container_2_boockstore .cont_cont .color_space {
        width: 100%;
        height: 40px;
        background: #202020;
        display: flex; }
        .container_base .container_2_boockstore .cont_cont .color_space:hover {
          background: #2e2e2e; }
        .container_base .container_2_boockstore .cont_cont .color_space .icon_name {
          display: flex;
          height: 100%;
          color: white;
          opacity: 0.7; }
          .container_base .container_2_boockstore .cont_cont .color_space .icon_name img {
            height: 20px;
            width: 20px;
            margin: auto 5px; }
          .container_base .container_2_boockstore .cont_cont .color_space .icon_name p {
            margin: auto;
            font-size: 14px; }
        .container_base .container_2_boockstore .cont_cont .color_space .cont_p_color {
          width: 80px;
          height: calc(80px / 6);
          /* background: yellow; */
          margin: auto 5px auto auto;
          display: flex; }
          .container_base .container_2_boockstore .cont_cont .color_space .cont_p_color .c {
            width: 16.6%;
            height: 100%; }
        .container_base .container_2_boockstore .cont_cont .color_space .nav {
          width: 20px;
          height: 20px;
          /* background: green; */
          /* background-image: url('/public/svg/premium/ellipsis-h-solid.svg'); */
          overflow: none;
          display: flex;
          text-align: center;
          margin: auto 5px;
          padding: 0px;
          list-style: none;
          position: relative;
          cursor: pointer;
          /* li:focus{
              background: salmon;
          } */ }
          .container_base .container_2_boockstore .cont_cont .color_space .nav li img {
            width: 20px; }
          .container_base .container_2_boockstore .cont_cont .color_space .nav li ul {
            color: rgba(255, 255, 255, 0.508);
            background: #161616;
            position: absolute;
            list-style: none;
            border-radius: 5px;
            padding: 5px;
            top: -5px;
            left: -110px;
            width: 100px;
            z-index: 2;
            display: none; }
            .container_base .container_2_boockstore .cont_cont .color_space .nav li ul li {
              display: flex; }
              .container_base .container_2_boockstore .cont_cont .color_space .nav li ul li p {
                /* background: salmon; */
                margin: 0px auto; }
                .container_base .container_2_boockstore .cont_cont .color_space .nav li ul li p:hover {
                  transform: scale(1.1); }
          @media (max-width: 1024px) {
            .container_base .container_2_boockstore .cont_cont .color_space .nav li ul {
              left: -112px; } }
          .container_base .container_2_boockstore .cont_cont .color_space .nav li:hover > ul {
            display: block; }
          .container_base .container_2_boockstore .cont_cont .color_space .nav li ul li {
            padding: 5px 0px;
            /*  margin: 5px 0px; */
            background: #161616; }
  .container_base .no {
    display: none; }

.btn_acept_cancel {
  width: 100%;
  height: 50px;
  /* background: salmon; */
  display: flex; }
  .btn_acept_cancel button {
    margin: auto;
    width: 45%;
    color: white;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer; }
    .btn_acept_cancel button:hover {
      opacity: 0.7; }
    .btn_acept_cancel button:focus {
      outline: none; }
  .btn_acept_cancel #btn_acept {
    background: #8EDF4A; }
  .btn_acept_cancel #btn_apply {
    background: #45A1E5; }

.no {
  display: none; }

.act {
  background: #fdc20041; }

.nn {
  margin: auto 7px; }

@media (max-width: 1024px) {
  .container_base {
    display: flex;
    flex-direction: column; }
    .container_base .container_1 {
      width: 100%;
      height: auto; }
      .container_base .container_1 .space_view {
        width: 100%;
        height: auto; }
        .container_base .container_1 .space_view .view {
          padding: 10px; }
      .container_base .container_1 .controller_bottons {
        height: 50px; }
    .container_base .container_2 {
      width: 100%;
      height: auto;
      padding: 0px 0px 10px 0px;
      margin: 0px; }
    .container_base .container_2_boockstore {
      width: 100%;
      height: 400px; } }

/*# sourceMappingURL=style-settings_fo_premium.css.map */
