.container {
  width: 100%;
  height: auto;
  background: #36393f98; }
  .container .header_cibb {
    width: 100%;
    height: 150px;
    background: #36393f98;
    display: flex; }
    .container .header_cibb img {
      width: 200px;
      margin: auto; }

.formBody {
  width: 100%;
  height: auto;
  /*  background: rgba(149, 247, 130, 0.165); */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column; }
  .formBody h1 {
    margin: 10px auto;
    font-size: 25px; }
  .formBody .description {
    margin: 0px auto;
    font-size: 14px;
    opacity: 0.6; }
  .formBody .contImg {
    width: 200px;
    height: 200px;
    /* background: #000; */
    margin: 20px auto;
    display: flex; }
    .formBody .contImg img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      margin: auto; }
  .formBody .semi-circulo {
    width: 200px;
    height: 100px;
    background: #0000008a;
    position: absolute;
    margin: 100px auto auto auto;
    -moz-border-radius: 0 0 100px 100px;
    -webkit-border-radius: 0 0 100px 100px;
    border-radius: 0 0 100px 100px;
    cursor: pointer;
    display: flex; }
    .formBody .semi-circulo:hover {
      background: #000000c6; }
    .formBody .semi-circulo label {
      margin: auto;
      cursor: pointer;
      position: relative;
      top: -5px; }
      .formBody .semi-circulo label:hover {
        transform: scale(1.2); }
  .formBody .section {
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    /* background: #000; */
    margin: 30px auto 0px auto;
    display: flex;
    justify-content: center; }
    .formBody .section p {
      margin: auto 15px;
      /*  background: red; */
      width: 15%;
      display: flex;
      justify-content: flex-end; }
    .formBody .section .p2 {
      margin: 5px 15px; }
    .formBody .section input[type=text] {
      width: 60%;
      height: 25px;
      margin: auto 15px;
      border-radius: 4px;
      border: none;
      color: #545454; }
      .formBody .section input[type=text]:focus {
        outline: 0; }
    .formBody .section textarea {
      max-width: 60%;
      min-width: 60%;
      max-height: 80px;
      min-height: 80px;
      margin: auto 15px;
      border-radius: 4px;
      color: #545454;
      border: none; }
      .formBody .section textarea:focus {
        outline: 0; }
  .formBody .explication {
    width: 60%;
    height: auto;
    /* background: rgb(255, 176, 140); */
    position: relative;
    left: calc(9%);
    margin: 0px auto;
    display: flex; }
    .formBody .explication p {
      font-size: 13px;
      width: 100%;
      top: 0px;
      margin: 0px;
      opacity: 0.7; }
  @media (max-width: 414px) {
    .formBody .explication {
      left: calc(11%); } }
  .formBody .alert {
    width: 100%;
    height: 20px;
    /* background: #000; */
    display: flex;
    margin: 60px 0px 5px 0px; }
    .formBody .alert p {
      color: red;
      margin: 0px auto;
      font-size: 14px; }
  .formBody input[type=submit] {
    background: radial-gradient(#A4DF4A, #8EDF4A);
    margin: 5px auto 60px auto;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer; }

.rulesFo {
  width: 100%;
  height: auto;
  /* background: rgba(149, 247, 130, 0.165); */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column; }
  .rulesFo h1 {
    margin: 20px auto;
    font-size: 25px; }
  .rulesFo .section {
    width: 90%;
    height: auto;
    /* background: #000; */
    margin: 15px auto; }
    .rulesFo .section h2 {
      color: yellow;
      font-size: 20px;
      margin: 5px 10px; }
    .rulesFo .section h3 {
      color: skyblue;
      margin: 0px 10px;
      font-size: 17px; }
    .rulesFo .section .rule {
      width: 100%;
      height: 40px;
      /* background: salmon; */
      display: flex;
      justify-content: center;
      margin: 5px auto; }
      .rulesFo .section .rule img {
        height: 100%; }
      .rulesFo .section .rule input[type=text] {
        width: 90%;
        margin: auto 5px;
        border: none;
        padding: 7px 5px;
        border-radius: 5px;
        color: slategrey;
        font-size: 15px; }
        .rulesFo .section .rule input[type=text]:focus {
          outline: none; }
    .rulesFo .section .no {
      display: none; }
    .rulesFo .section .plus {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      /*  background: #fff; */
      /* margin: 5px 94% auto auto; */
      background-image: url(/svg/plus-square-solid_.svg);
      background-size: 100% 100%;
      cursor: pointer; }
    .rulesFo .section .minus {
      background-image: url(/svg/minus-square-solid.svg); }
    .rulesFo .section #bottons_normative {
      display: flex;
      width: 100%;
      height: 40px;
      /* background: #000; */ }
    .rulesFo .section #bottons_expulsion {
      display: flex;
      width: 100%;
      height: 40px;
      /* background: #000; */ }
  .rulesFo input[type=submit] {
    background: radial-gradient(#A4DF4A, #8EDF4A);
    margin: 80px auto;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer; }

.loading_creation_fo {
  width: 100%;
  height: auto;
  /* background: rgba(149, 247, 130, 0.165); */
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto; }
  .loading_creation_fo h1 {
    margin: 5px auto;
    text-align: center; }
  .loading_creation_fo img {
    width: 100px;
    margin: 5px auto; }
  .loading_creation_fo .direcction {
    display: flex;
    width: 50%;
    height: 30px;
    background: #36393F;
    margin: 10px auto;
    padding: 0px 5px;
    border-radius: 5px; }
    .loading_creation_fo .direcction p {
      width: 20%;
      /* background: red; */
      text-align: center;
      margin: auto 0px;
      opacity: 0.5; }
    .loading_creation_fo .direcction input[type=text] {
      margin: auto 0px;
      width: 60%;
      background: none;
      color: white;
      border: none; }
    .loading_creation_fo .direcction .copiar {
      width: 20%;
      margin: auto 0px;
      text-align: center;
      color: #48a7ff;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 12px; }
  .loading_creation_fo a {
    margin: 5px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background: #45A1E5;
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=style-create-fo__.css.map */
