.container_event {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  /* background: skyblue; */ }
  .container_event img {
    width: 200px;
    margin: 20px auto; }
  .container_event .button_public_event {
    width: 300px;
    margin: 0px auto;
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    color: white;
    background: #45A1E5;
    cursor: pointer; }
    .container_event .button_public_event:focus {
      outline: none; }
    .container_event .button_public_event:hover {
      opacity: 0.8; }
  .container_event hr {
    width: 90%;
    border: none;
    height: 1px;
    margin: 10px auto;
    background: white; }
  .container_event .create_event_container {
    width: 100%;
    height: auto;
    display: flex;
    /* background: sandybrown; */ }
  .container_event .no {
    display: none; }

.create_event_subcontainer_01 {
  /* background: darkgreen; */
  width: 50%;
  display: flex;
  flex-direction: column; }
  .create_event_subcontainer_01 h2 {
    margin: 5px auto;
    width: 95%; }
  .create_event_subcontainer_01 .combobox {
    background: #45A1E5;
    width: 95%;
    height: 30px;
    margin: 5px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none; }
    .create_event_subcontainer_01 .combobox:focus {
      outline: none; }
  .create_event_subcontainer_01 textarea {
    display: block;
    min-width: 95%;
    max-width: 95%;
    margin: 5px auto;
    border-radius: 5px;
    min-height: 60px;
    max-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #494949; }
    .create_event_subcontainer_01 textarea:focus {
      outline: none; }
  .create_event_subcontainer_01 .container_rango_enevt {
    width: 95%;
    height: auto;
    background: #36393f98;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    padding: 5px 0px; }
    .create_event_subcontainer_01 .container_rango_enevt p {
      margin: 0px 5px; }
    .create_event_subcontainer_01 .container_rango_enevt .radios {
      display: flex;
      justify-content: space-between;
      /* background: chartreuse; */
      margin: 5px auto;
      width: 95%; }
      .create_event_subcontainer_01 .container_rango_enevt .radios .radio_once label {
        cursor: pointer; }
      .create_event_subcontainer_01 .container_rango_enevt .radios .radio_once input[type="radio"] {
        cursor: pointer; }

.create_event_subcontainer_02 {
  /* background: saddlebrown; */
  width: 50%;
  display: flex;
  flex-direction: column; }
  .create_event_subcontainer_02 .calendario {
    width: 95%;
    height: auto;
    background: #36393F;
    margin: 0px auto 5px auto; }
    .create_event_subcontainer_02 .calendario .header_calendar {
      width: 100%;
      height: 30px;
      background: #36393F;
      display: flex;
      justify-content: space-between; }
      .create_event_subcontainer_02 .calendario .header_calendar button {
        background: none;
        margin: 0px 5px;
        color: white;
        border: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer; }
        .create_event_subcontainer_02 .calendario .header_calendar button:hover {
          transform: scale(1.4); }
        .create_event_subcontainer_02 .calendario .header_calendar button:focus {
          outline: none; }
      .create_event_subcontainer_02 .calendario .header_calendar div {
        display: flex; }
      .create_event_subcontainer_02 .calendario .header_calendar span {
        margin: auto 0px; }
    .create_event_subcontainer_02 .calendario .container_weedays {
      width: 100%;
      height: 40px;
      background: #45A1E5;
      display: flex;
      justify-content: space-evenly;
      margin: 0px auto; }
      .create_event_subcontainer_02 .calendario .container_weedays span {
        color: #36393F;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 100%;
        line-height: 2.5; }
    .create_event_subcontainer_02 .calendario .container_days {
      width: 100%;
      height: auto;
      /* background: darkcyan; */
      display: flex;
      flex-flow: row wrap;
      margin: 0px auto; }
      .create_event_subcontainer_02 .calendario .container_days span {
        color: white;
        /* background: #000; */
        text-align: center;
        margin: 2px 0px;
        width: calc(100% / 7);
        padding: 5px 0px; }
        .create_event_subcontainer_02 .calendario .container_days span:hover {
          background: #36d0f3;
          border-radius: 7px;
          cursor: pointer; }
  .create_event_subcontainer_02 .prev_days {
    opacity: 0.5; }
  .create_event_subcontainer_02 .today {
    background: #fa729b;
    border-radius: 5px; }
  .create_event_subcontainer_02 .days_event {
    /* background: radial-gradient(#fa729b, #36d0f3cd); */
    background: #545454;
    border-radius: 5px; }
  .create_event_subcontainer_02 .finday {
    background: #36d0f3;
    border-radius: 5px; }
  .create_event_subcontainer_02 .today:after {
    content: "";
    width: 19px;
    height: 19px;
    /* background: #506CF5; */
    position: absolute;
    border-radius: 50%;
    /*  border: 5px solid #506CF5; */
    opacity: 0.6;
    margin: -5px 0px 0px -22px; }
  .create_event_subcontainer_02 .start_finish {
    display: flex;
    margin: 1px 20px; }
    .create_event_subcontainer_02 .start_finish p {
      margin: 0px 5px; }
    .create_event_subcontainer_02 .start_finish .start {
      color: #fa729b; }
    .create_event_subcontainer_02 .start_finish .finish {
      color: #36d0f3; }
  .create_event_subcontainer_02 .buttons_create_event {
    display: flex;
    padding: 10px 0px; }
    .create_event_subcontainer_02 .buttons_create_event .button_event {
      background: #000;
      width: 45%; }
    .create_event_subcontainer_02 .buttons_create_event button {
      width: 300px;
      margin: 0px auto;
      padding: 10px 0px;
      border-radius: 5px;
      border: none;
      color: white;
      background: #45A1E5;
      cursor: pointer; }
      .create_event_subcontainer_02 .buttons_create_event button:focus {
        outline: none; }
      .create_event_subcontainer_02 .buttons_create_event button:hover {
        opacity: 0.8; }
    .create_event_subcontainer_02 .buttons_create_event .crear {
      background: #8EDF4A; }
    .create_event_subcontainer_02 .buttons_create_event .cancelar {
      background: red; }

.course_event {
  /* background: salmon; */
  display: flex;
  flex-direction: column; }
  .course_event h4 {
    margin: 5px auto; }
  .course_event .time {
    width: auto;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center; }
  .course_event .simply-section {
    width: 50px;
    height: 50px;
    background: #36393f98;
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    transform: scale(0.8); }
  .course_event .simply-amount {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    margin: auto;
    text-align: center; }
  .course_event .simply-word {
    font-size: 11px;
    text-align: center; }
  .course_event p {
    width: 80%;
    /* background: #000; */
    margin: 0px auto;
    text-align: center;
    font-size: 12px; }
  .course_event .btn_cancelar {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background: red;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer; }
    .course_event .btn_cancelar:hover {
      opacity: 0.8; }

.admin_event {
  width: 100%;
  height: auto;
  display: flex;
  /* background: sandybrown; */
  flex-direction: column; }
  .admin_event h2 {
    margin: 0px auto; }
  .admin_event p {
    text-align: center; }
  .admin_event .position_container {
    width: 97%;
    height: auto;
    /* background:darkmagenta; */
    margin: 0px auto 20px auto;
    display: flex;
    justify-content: center; }
    .admin_event .position_container .position {
      width: 25%;
      height: auto;
      background: #36393f98;
      border-radius: 10px;
      flex-direction: column;
      display: flex;
      margin: 0px 4.1%; }
      .admin_event .position_container .position img {
        width: 80%;
        margin: 0px auto; }
      .admin_event .position_container .position .combobox {
        background: #45A1E5;
        border: none;
        color: white;
        padding: 5px 0px;
        margin: 10px 0px 0px 0px;
        border-radius: 0px 0px 10px 10px;
        cursor: pointer; }
  .admin_event .cerrar_Event {
    background: #8EDF4A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0px auto 20px auto;
    width: 200px; }
    .admin_event .cerrar_Event:focus {
      outline: none; }
    .admin_event .cerrar_Event:hover {
      opacity: 0.8; }

.no {
  display: none; }

@media (max-width: 1024px) {
  .container_event {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    /* background: skyblue; */ }
    .container_event img {
      width: 150px;
      margin: 20px auto; }

  .create_event_container {
    display: flex;
    flex-direction: column; }

  .create_event_subcontainer_01 {
    width: 100%; }

  .create_event_subcontainer_02 {
    width: 100%; } }
.disable {
  opacity: 0.4; }

.disable:hover {
  opacity: 0.4;
  background: #222222; }

/*# sourceMappingURL=style-event_________.css.map */
