@import "colors";
@media (max-width: 1024px){

.container_{
    width: calc(100% - 0px);
    height: calc(100vh - 70px);
    margin: 50px 0px 0px 0px;
    color: rgb(0, 0, 0);
    /* background: #000; */

    .section_1{
        height: auto;
        display: flex;
        flex-direction: column;

        #img_foo{
            width: 180px;
            height: 180px;
            display: none;
        }
        .container_responsi_img{
            width: 100%;
            height: 220px;
            text-align: center;
            display: inline-block;
            /* background: salmon; */
            
            .fondo{
                width: 100%;
                height: 220px;
                opacity: 0.5;
                overflow: hidden;
                object-fit: cover;
                /* clip-path: inset(20px 60px 20px 0px); */
            }
            .fo_i_m_g{
                width: 180px;
                height: 180px;
                position: relative;
                top: -210px;
                border-radius: 50%;
            }
        }
        .info{
            height: auto;
            margin: 10px 0px;
            width: calc(100% - 20px);
            margin: 0px 0px 0px 20px;
            padding: 10px 0px;

            .title{
                margin: 5px 0px;
                font-size: 15px;
            }
            .tag_fo{
                font-size: 45px;
                /* background: aqua; */
                
            }
            .leadfor{
                display: flex;
                
            
                p{
                 
                }
                #img_leader{
                    
                }
                h1{
                   
                }
            }
            .url_w_a{
                display: flex;
                img{
                  width: 12px;
                  height: 12px;
                }
                a{
                    font-size: 12px;
                }
            }
            .tag{
                display: flex;
                img{
                    width: 12px;
                    height: 12px;
                }
                p{
                    font-size: 12px;
                }
                .text_tag{
                    font-size: 12px;
                }
                .imgtag{
                    width: 10px;
                  height: 10px;
                }
            }
        }
        .estadistic{
            height: auto;
            width: 100%;
            /* background: #000; */
            padding: 10px 0px;
            background: rgba(0, 0, 0, 0.097);
            .container_estadisticas{
                height: auto;
                width: 100%;
                margin: 0px auto;
                
            }
            button{
               width: 95%;
            }
        }
    }
    .section_2{
        width: 97%;
        height: auto;
        margin: 10px auto;

        .bisection_1{
            display: flex;
            flex-direction: column;

            .description{
                width: 97%;
                height: auto;
                margin: auto 0px auto 10px;
                h5{
                   
                }
                p{
                    
                    font-size: 10px;
                    
                }
            }
            video{
                margin: 15px auto;
                

                &:focus{
                }
            }
        }

        .bisection_2{
            display: flex;
            flex-direction: column;
            margin: 0px auto 10px auto;
            height: auto;

            img{
                height: calc(300px / 1.777);
                width: 300px;
                margin: 5px auto;
            }

        }
        
    }
}
}
@media (max-width: 321px){
    .container_{
    .section_2{
    .bisection_2{
        display: flex;
        flex-direction: column;
        margin: 0px auto 10px auto;

        img{
            height: calc(250px / 1.777);
            width: 250px;
           
            margin: 5px auto;
        }

    }
    }
    }
}
@media (width: 280px){
    .container_{
    .section_2{
    .bisection_2{
        display: flex;
        flex-direction: column;
        margin: 0px auto 10px auto;

        img{
            height: calc(220px / 1.777);
            width: 220px;
           
            margin: 5px auto;
        }

    }
    }
    }
}

@media (width: 768px){
    .container_{
    .section_2{
    .bisection_2{
        display: flex;
        flex-direction: column;
        margin: 0px auto 10px auto;

        img{
            height: calc(700px / 1.777);
            width: 700px;
           
            margin: 5px auto;
        }

    }
    }
    }
}
@media (width: 1024px){
    .container_{
    .section_2{
    .bisection_2{
        display: flex;
        flex-direction: column;
        margin: 0px auto 10px auto;

        img{
            height: calc(700px / 1.777);
            width: 700px;
            margin: 5px auto;
        }

    }
    }
    }
}

