@import "colors";
@media (max-width: 1024px){

    .font_containers{
    }
    .container{
        
        /* property in styles-general.scss */
    
    
        &-perfil{
            width: calc(100% - 10px);
            height: 250px;
            margin: 10px auto;
            display: flex;
            flex-direction: column;
    
            img{
                margin: 10px auto;
                width: 100px;
                height: 100px;
               
            }
            &-data{
                width: 95%;
                height: auto;
                margin: auto 10px;
                text-align: center;
                /* border: 1px solid rgb(63, 245, 54); */
                h3{
                    margin: 0px;
                }
                p{
                    margin: 0px;
                }
            }
        }
    
        &-date{
            .area{
                display: flex;
                margin: auto 10px;
                font-size: 10px;
            
                p{
                    
                }
                .p_dinamic{
                   
                }
            }
        }
    
        &-subcontainer{
           
            
            
        }
    
    
    }
    .box{
        width: calc(100% - 10px);
      
    }
    /*  */
    .event{
        width: calc(100% - 10px);
        
    }
    
    .ranking{
        width: calc(100% - 10px);
        
    }
    
    .fo{
        width: calc(100% - 10px);
        .container_principal{
            width: auto;
            /* background: rgb(235, 28, 28); */
            $medida: 50px;
            .badge{
                width: $medida;
                height: $medida;
                margin: auto 5px auto 10px;
                &-img{
                    width: $medida;
                    height: $medida;
                }
                &-ornaments{
                    width: $medida;
                    height: $medida;
                }
            }
            $medida2: 30px;
            a{
                width: $medida2;
                height: $medida2;
                margin: auto 10px auto 10px;
            }
            .setings{
                cursor: pointer ;
                width: $medida2;
                height: $medida2;
                margin: auto;
            }
        }
    }
    
    
}
   