@media (max-width: 1024px) {
  .container_ {
    width: calc(100% - 20px);
    height: calc(100vh - 70px);
    margin: 60px 10px 0px 10px;
    color: black; }
    .container_ .section_1 {
      height: auto;
      display: flex;
      flex-direction: column; }
      .container_ .section_1 #img_foo {
        width: 180px;
        height: 180px; }
      .container_ .section_1 .info {
        height: auto;
        margin: 10px 0px;
        width: 100%;
        text-align: center; }
        .container_ .section_1 .info .title {
          margin: 5px;
          font-size: 20px; }
        .container_ .section_1 .info .tag_fo {
          font-size: 39px;
          /* background: aqua; */
          text-align: center; }
        .container_ .section_1 .info .leadfor {
          display: flex;
          justify-content: center; }
        .container_ .section_1 .info .url_w_a {
          display: flex;
          justify-content: center; }
          .container_ .section_1 .info .url_w_a img {
            width: 12px;
            height: 12px; }
          .container_ .section_1 .info .url_w_a a {
            font-size: 12px; }
        .container_ .section_1 .info .tag {
          display: flex;
          justify-content: center; }
          .container_ .section_1 .info .tag img {
            width: 12px;
            height: 12px; }
          .container_ .section_1 .info .tag p {
            font-size: 12px; }
          .container_ .section_1 .info .tag .text_tag {
            font-size: 12px; }
          .container_ .section_1 .info .tag .imgtag {
            width: 10px;
            height: 10px; }
      .container_ .section_1 .estadistic {
        height: 290px;
        width: 100%; }
    .container_ .section_2 {
      width: 100%;
      max-height: auto;
      min-height: auto;
      margin: 10px auto; }
      .container_ .section_2 .bisection_1 {
        display: flex;
        flex-direction: column; }
        .container_ .section_2 .bisection_1 .description {
          width: 100%;
          height: auto; }
          .container_ .section_2 .bisection_1 .description h5 {
            text-align: center; }
          .container_ .section_2 .bisection_1 .description p {
            text-align: center;
            font-size: 10px; }
        .container_ .section_2 .bisection_1 video {
          margin: 15px auto; }
      .container_ .section_2 .bisection_2 {
        display: flex;
        flex-direction: column;
        margin: 0px auto 10px auto; }
        .container_ .section_2 .bisection_2 img {
          height: calc(300px / 1.777);
          width: 300px;
          margin: 5px auto; } }
@media (max-width: 321px) {
  .container_ .section_2 .bisection_2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px auto; }
    .container_ .section_2 .bisection_2 img {
      height: calc(250px / 1.777);
      width: 250px;
      margin: 5px auto; } }
@media (width: 280px) {
  .container_ .section_2 .bisection_2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px auto; }
    .container_ .section_2 .bisection_2 img {
      height: calc(220px / 1.777);
      width: 220px;
      margin: 5px auto; } }
@media (width: 768px) {
  .container_ .section_2 .bisection_2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px auto; }
    .container_ .section_2 .bisection_2 img {
      height: calc(700px / 1.777);
      width: 700px;
      margin: 5px auto; } }
@media (width: 1024px) {
  .container_ .section_2 .bisection_2 {
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px auto; }
    .container_ .section_2 .bisection_2 img {
      height: calc(700px / 1.777);
      width: 700px;
      margin: 5px auto; } }

/*# sourceMappingURL=rsp_style-fo_home.css.map */
